<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>LOGIN</h2>
    <form action="" method="post">
        <input type="text" name="nombre_usuario" placeholder="Ingrese su usuario" required>
        <input type="password" name="contrasenia" placeholder="Ingrese su contrasenia" required>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>